@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F3EF;
  --foreground: #1A1714;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
